<h2>Movie List</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of moviesList">
      <td>
        <h3>{{ movie.title }}</h3>
        <p>Release Date: {{ movie.release_date }} Budget: {{ (+movie.budget) | currency : 'USD': 'symbol-narrow':
          '1.0-0' }} million Duration: {{(+movie.duration) | duration}}</p>
      </td>
      <td><button class="btn btn-primary" (click)="goToDetails(movie.id)">Details</button></td>
    </tr>
  </tbody>
</table>