/* movie-details.component.css */
.movie-details-container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .poster img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .details {
    flex: 1;
    padding-left: 20px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .info p {
    margin: 5px 0;
  }
  
  .info p strong {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .summary {
    margin-top: 20px;
  }
  
  .summary h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .summary p {
    line-height: 1.5;
  }
  